

.block {
    background-color: black!important;
    margin-top: -105px;
    opacity: 70%;
    position: fixed;
    width: 100%;
    /* display:flex; */
}
.left-text {
    display:flex;
    margin-left: 222px;
}
.right-text {
    text-align: right;
    font-size: 32px;
    position: relative;
    right: 500px;
    top: -60px;
}